 /*
 *{
    padding: 0;
    margin: 0;
    color: white;
}

p{
    color: #ffff00;
}

h1{
    color: rgb(0, 255, 0);
text-align: center;
text-transform: capitalize;
}
list {
    color: #ff87f4;
}   
button {
    background-color: #f08804;
    color: white;
}

#box{
    background-color: blue;
}

.heading {
    color: red;
}

a {
    text-decoration: none;
    margin-right: 200px;
}
 
#h1 {
    font-weight: bold;
 }
#outer
{
    text-size=25px;
}
#inner{
    height: 100px;
    font-size: 10px;
}
#today{
    background-color: Green;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    padding-top: 30px;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
}
#logo{
    color:#f08804;
    font-size: 25px;
} */
*{
    color:blue;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
    flex-align: start;
}
#logo{
    color:#f08804;
    font-size: 25px;
} 
button {
    background-color: #f08804;
    color: white;
}
a {
    margin-right: 200px;
}
.box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#content{
    height: 200px;
}

footer{
background-color: #0f1111;
color:white;
text-align: center;
}

.position{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    display: inline-block;
}
#box1{
    position: static;
    top: 30px
}
#box2{
    position: relative;
    top: 30px;
    left: 30px;
}
#nature{
    height: 50px;
    width: 50px;
    background-image: url('book.jpg');
    background-size: cover;
    position: fixed;
    right: 0px
}
.navbar1{
   background-color: pink; 
   display: flex;
   justify-content: space-evenly;
}
li{
    list-style-type:none;
    display: inline;
    color: red;


}